body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: black;
}

#display {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 27em;
    height: 8em;
    border: 2px solid whitesmoke;
    font-family: 'Orbitron', sans-serif;
    flex-wrap: wrap;
    color: white;
}

#buttons {
    display: flex;
    gap: 6px;
}

#buttons #operators {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#buttons #digits_others {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#buttons #digits_others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons #digits_others #numbers {
    background-color: rgb(72,72,72);
    color: white;
}

button {
    width: 90px;
    height: 90px;
    font-size: 40px;
    border-radius: 40%;
    border: none;
    /* box-shadow: 2px 2px; */
}

.zero {
    width: 180px;
    height: 90px;
    text-align: left;
    text-indent: 30px;
}

.clear {
    width: 180px;
    height: 90px;
}